AddType text/vtt .vtt

php_value display_errors  1
php_value error_reporting E_ALL

RewriteEngine on

RewriteBase /

# ignore files & directories
RewriteCond %{REQUEST_URI} -f
RewriteCond %{REQUEST_URI} -d
RewriteRule (.*) $1 [L]

# bootstrap all requests to index.php
RewriteRule ^(.*)/$ ./index.php?uri=$1 [QSA,NC]

# force trailing slash
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ %{REQUEST_URI}/ [L]
